{% extends 'base.html' %}

{% block body %}
<h1>Welcome to Open Proxy Management interface!</h1>
<table>
    <thead>
        <tr>
            <th>Checkbox</th>
            <th>IP</th>
            <th>Block</th>
        </tr>
    </thead>
    <tbody>
        {% for ip in ips %}
        <tr>
            <td>ToBeDone</td>
            <td>{{ip}}</td>
            <td><a href="https://meta.wikimedia.org/wiki/Special:GlobalBlock/{{ip}}">block</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if previous %}
<a href="{{config.APPLICATION_ROOT}}?page={{page-1}}&limit={{limit}}">previous</a>
{% endif %}
{% if next %}
<a href="{{config.APPLICATION_ROOT}}?page={{page+1}}&limit={{limit}}">next</a>
{% endif %}
{% endblock %}
